.section {
  padding: var(--section-padding);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container {
  max-width: var(--wide-width);
  margin: 0 auto;
}

.paragraph {
  color: var(--text-muted);
  font-size: var(--font-lg);
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.paragraph:last-child {
  margin-bottom: 0;
}
